@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-geist-sans), Arial, sans-serif;
}

@layer base {
  p {
    text-align: justify;
    overflow-wrap: break-word;
  }
}
